# Copie este arquivo para ".env" e preencha com os dados do recurso Azure que voce criou.

PORT=3000

VISION_ENDPOINT=https://<seu-recurso>.cognitiveservices.azure.com
VISION_KEY=

SPEECH_ENDPOINT=https://<seu-recurso>.api.cognitive.microsoft.com
SPEECH_KEY=
SPEECH_REGION=

LANGUAGE_ENDPOINT=https://<endpoint>
LANGUAGE_KEY=

TRANSLATE_ENDPOINT=https://<endpoint>
TRANSLATE_KEY=
TRANSLATE_REGION=